*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #38ef7b, #11998e);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}